{% extends 'core/base.html' %} {% block content %}
<h5>Add Course...</h5>
<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Course Title</label>
    {{form.title}}
  </div>
  <div class="mb-3">
    <label class="form-label">Pricing...</label>
    {{form.cost}}
  </div>
  <div class="mb-3">
    <label class="form-label">Couse Contents</label>
    {{form.contents}}
  </div>
  <div style="display: none">{{form.teacher}}</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content%}
