{% extends 'core/base.html'%} {%block content%}
<style>
  html,
  body {
    height: 100%;
  }

  body {
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 0.3rem;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
<main class="form-signin">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Teach on Qtec</h1>
    {{form.username}} {{teacherForm.name}} {{form.email}} {{form.password1}}
    {{form.password2}}

    <button class="mt-2 btn btn-lg btn-primary btn-block" type="submit">
      Sign up
    </button>
  </form>
</main>
{%endblock content%}
